.advantages {
  margin-bottom: 28px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 28px;

  .block-font-style (25px, 30px, bold, #000000);
}

.advantages__list {
  .list-style-reset ();
  .block-font-style (17px, 20px, bold, #000000);
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 29px;

  min-height: 94px;

  &--eco {
    width: 175px;
  }

  &--style {
    width: 200px;
  }

  &--like {
    width: 180px;
  }

  &--handmade {
    width: 212px;
  }

  &--producer {
    width: 260px;
  }

  &--package {
    width: 200px;
  }

  & path {
    fill: #63d1bb;
  }
}

