.advantages {
  margin-bottom: 59px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 28px;

  .block-font-style (25px, 30px);
  font-weight: bold;
  color: #000000;
}

.advantages__list {
  .list-style-reset ();

  .block-font-style (17px, 20px);
  font-weight: bold;
  color: #000000;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  margin-bottom: 29px;
  padding-top: 49px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 49px;
  }

  &--eco::before {
    background-image: url("../img/svg/icon-feature-flower.svg");
    background-repeat: no-repeat;
  }

  &--style::before {
    background-image: url("../img/svg/icon-feature-money.svg");
    background-repeat: no-repeat;
  }

  &--like::before {
    background-image: url("../img/svg/icon-feature-heart.svg");
    background-repeat: no-repeat;
  }

  &--handmade::before {
    background-image: url("../img/svg/icon-feature-ball.svg");
    background-repeat: no-repeat;
  }

  &--producer::before {
    background-image: url("../img/svg/icon-feature-rocket.svg");
    background-repeat: no-repeat;
  }

  &--package::before {
    background-image: url("../img/svg/icon-feature-gift.svg");
    background-repeat: no-repeat;
  }
}

