.catalog-item {
  display: flex;
  flex-direction: column;

  border: 1px solid #ececec;
}

.catalog-item__wrapper {
  padding: 0 28px;
}

.catalog-item__image {
  margin-bottom: 29px;
}

.catalog-item__name {
  margin: 0;
  margin-bottom: 15px;

  .block-font-style(17px, 24px);
  font-weight: bold;
  color: #000000;
}

.catalog-item__link {
  align-self: center;

  color: #000000;
}

.catalog-item__info {
  margin: 0;
  margin-bottom: 16px;

  .block-font-style(13px, 30px);
}

.catalog-item__price-container {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 29px;

  border-top: 1px solid #ececec;
}

.catalog-item__price {
  margin: 0;

  .block-font-style(15px, 24px);
  font-weight: bold;
  color: #000000;
}

.catalog-item__cart path {
  opacity: 0.2;
}
