.catalog-item__name {
  margin: 0;

  .block-font-style (17px, 24px, bold, #000000);
}

.catalog-item__link {
  color: #000000;
}

.catalog-item__info {
  margin: 0;

  .block-font-style (13px, 30px, @font-weight, @font-color);
}

.catalog-item__price {
  margin: 0;

  .block-font-style (15px, 24px, bold, #000000);
}
