.contacts {
  margin-bottom: 38px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;

  padding: 0 30px;
}

.contacts__title {
  margin: 0;

  .block-font-style(18px, 30px);
  font-weight: bold;
  color: #000000;
}

.contacts__info {
  align-self: center;
  margin-bottom: 40px;

  width: 100%;

  .block-font-style(15px, 30px);

  border-collapse: collapse;
}

.contacts__argument,
.contacts__value {
  padding: 0;
  padding-top: 27px;

  vertical-align: top;
}

.contacts__argument {
  padding-right: 27px;
  white-space: nowrap;
}

.contacts__mail {
  color: #444444;
  border-bottom: 1px solid #62d1ba;
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  position: relative;
  align-self: center;
  margin: 0 -30px;

  min-width: 320px;
}

.contacts__contact-us {
  margin-top: 39px;
}
