.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  min-height: 80px;

  & path {
    fill: #63d1bb;
  }
}

.copyright__text {
  margin: 0;

  .block-font-style (19px, 18px, bold, #000000);
}
