.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 22px 0 18px 0;
}

.copyright__link {
  color: #63d1bb;

  &[href]:hover,
  &[href]:focus {
    color: #46c1ae;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.copyright__link svg {
  fill: currentColor;
}

.copyright__text {
  display: inline-block;

  margin: 0;
  padding-top: 5px;
  padding-right: 30px;

  .block-font-style(19px, 18px);
  font-weight: bold;
  vertical-align: top;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
  }
}
