.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  position: relative;

  .block-font-style (17px, @line-height);
  font-weight: bold;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.main-nav__logo {
  padding-top: 21px;
  min-height: 80px;

  text-align: center;
}

.main-nav__toggle {
  top: 0;
  right: 0;
}

.main-nav__add-info {
  display: none;

  .block-font-style(15px, 24px);
}
