.modal {
  display: none;

  position: fixed;
  z-index: 10;

  top: 50%;
  transform: translateY(-50%);

  margin: 0 auto;
  padding: 34px 30px 46px 30px;

  width: 320px;

  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.modal__title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0 56px;

  .block-font-style(25px, 30px);
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.modal__text {
  margin: 0;

  .block-font-style(15px, 30px);
}

.modal__form {
  margin-top: 28px;
}

.modal--opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-200%);
  }

  70% {
    transform: translateY(-50%);
  }

  90% {
    transform: translateY(-60%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@media (min-width: @tablet-width) {
  .modal {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes bounce {
    0% {
      transform: translate(-50%, -200%);
    }

    70% {
      transform: translate(-50%, -50%);
    }

    90% {
      transform: translate(-50%, -60%);
    }

    100% {
      transform: translate(-50%, -50%);
    }
  }
}
