.page-footer {
  margin-top: auto;

  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;

  color: #231f20;

  &[href]:hover,
  [href]:focus {
    color: #46c1ae;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-footer__logo svg {
  fill: currentColor;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;

    padding: 51px 0 51px 0;
  }

  .page-footer__logo {
    display: block;
    align-self: flex-start;

    width: 186px;
  }

  .page-footer__social {
    margin: 8px 0 0 auto;
  }

  .page-footer__copyright {
    margin: 8px 0 0 auto;
  }
}
