.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
}

.page-header__logo {
  padding-top: 21px;
  min-height: 79px;
}

.page-header__logo--tablet {
  display: none;
}

// @media (min-width: @tablet-width) {
//   .page-header {
//     justify-content: space-between;
//     align-items: flex-start;

//     padding: 0 50px;
//   }

//   .page-header__logo-image {
//     &--mobile {
//       display: none;
//     }

//     &--tablet {
//       display: block;
//     }
//   }
// }
