@media (min-width: @tablet-width) {
  .page-header {
    padding: 0 50px;
    margin-bottom: -45px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin: 0 auto;
    margin-bottom: -45px;

    max-width: 1280px;
  }
}
