.product-sections {
  margin-bottom: 30px;
}

.product-sections__header {
  padding: 72px 38px 119px 38px;
  min-height: 282px;

  text-align: center;

  background-color: #fafafa;
  background-image: url("../img/jpg/hero-mobile%401x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.product-sections__title {
  margin: 0;

  .block-font-style (27px, 30px, bold, #010000);
}

.product-sections__list {
  .list-style-reset ();
}

.product-sections__item:first-child {
  background-color: #63d1bb;
}

.product-sections__item:nth-child(2) {
  background-color: #56c3b2;
}

.product-sections__link {
  display: block;
  padding: 28px 160px 28px 23.4375%;

  .block-font-style (19px, 24px, bold, #ffffff);
}
