.reviews {
  margin-bottom: 41px;
  padding-bottom: 51px;

  background-image: url("../img/svg/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: auto 6px;
}

.reviews__wrapper {
  padding: 0 30px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 31px;

  .block-font-style(25px, 30px);
  font-weight: bold;
  color: #000000;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 39px;

  .block-font-style(15px, 30px);
}

.reviews__author-name {
  display: block;
  margin-bottom: 10px;

  .block-font-style(17px, 24px);
  font-weight: bold;
  color: #000000;
  font-style: normal;
}

.reviews__author-login {
  margin: 0;
  margin-bottom: 34px;

  .block-font-style(17px, 30px);
}
