.social {
  padding: 25px 0 20.3px 0;

  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .list-style-reset();
}

.social__item {
  padding-right: 40px;

  &:last-child {
    padding-right: 0;
  }
}

@media (min-width: @tablet-width) {
  .social {
    padding: 0;

    border: none;
  }
}
