.user-list {
  .list-style-reset ();
}

.user-list__login,
.user-list__basket {
  display: block;
  padding: 21px 10px 29px 23.4375%;

  color: #000000;

  border-top: 1px solid #ececec;
}

.user-list__basket {
  border-bottom: 1px solid #ececec;
}
