.video {
  margin-bottom: 58px;
}

.video__wrapper {
  padding: 0 30px;
}

.video__container {
  display: flex;
  flex-direction: column;

  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video__content {
  order: 2;

  position: relative;
}

.video__content__image {
  width: 100%;
  height: auto;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0;

  min-width: 101px;
  min-height: 77px;

  background-color: transparent;
  border: none;

  &:hover svg {
    width: 100.678px * 1.2;
    height: auto;
  }

  &:active svg {
    opacity: 0.3;
    width: 100.678px * 0.8;
    height: auto;
  }
}

.video__name {
  align-self: center;
  order: 1;

  position: relative;
  margin: 27px 33px 25px 33px;
  padding-left: 57px;

  .block-font-style(17px, 24px);
  font-weight: bold;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;

    width: 32px;
    height: 32px;

    background-image: url("../img/svg/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.video__text {
  order: 3;

  margin: 33px 33px 28px 33px;

  .block-font-style(13px, 24px);
}

.video__order {
  order: 4;

  margin: 0 33px 33px 33px;
}

@media (min-width: @tablet-width) {
  .video {
    margin-bottom: 63px;
  }

  .video__wrapper {
    padding: 0;
  }

  .video__content {
    order: 1;

    margin-bottom: 35px;
  }

  .video__name {
    align-self: flex-start;

    margin: 27px 40px 25px 40px;

    .block-font-style(20px, 24px);

    &::before {
      top: 0;
    }
  }

  .video__text {
    margin: 33px 40px 28px 40px;

    .block-font-style(15px, 30px);
  }

  .video__order {
    margin: 0 40px 45px 40px;
  }
}
