.wrapper__page-wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
}

@media (min-width: @tablet-width) {
  .wrapper {
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    width: 1050px;
  }
}
